<p id="notice"><%= notice %></p>

<h1>Your Escape Bus</h1>

<h3 class = "text-muted">Your Current Location</h3>

<p class = "text-muted">
  <%= @location.full_street_address %> <small><%= link_to fa_icon('pencil', text: 'Edit'), edit_location_path(@location) %></small>
</p>

<div id="map-canvas">


</div>


<h3>The closest buses are...</h3>

<% @buses.each do |bus| %>
<p><strong>Route: </strong> <%= bus["ROUTE"] %> <%= bus["DIRECTION"] %>
<br>
<strong>Bus Number: </strong> <%= bus["VEHICLE"] %>
<br>
<strong>Next Stop: </strong> <%= bus["TIMEPOINT"] %>
<br>
</p>
  <% end %>

  <% if @buses.empty? %>
    <p>
      Not really that close. Time to walk, taxi, Uber or <%= link_to 'change your location', edit_location_path(@location) %>.
    </p>
  <% end %>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key']%>">
  </script>

  <script type="text/javascript">
    function initialize(){
      var myLocation = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>)

      var mapOptions = {
        center: myLocation,
        zoom: 15
      };

      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var personIcon = "<%= image_path 'man_icon.png' %>";

      var myMarker = new google.maps.Marker({
        position: myLocation,
        map: map,
        animation: google.maps.Animation.DROP,
        title: 'My Location',
        icon: personIcon
      });

      var myContent = '<h4> Your Current Location </h4> <p> <%= @location.full_street_address %> </p>';

        var myInfoWindow = new google.maps.InfoWindow({
          content: myContent
        });

google.maps.event.addListener(myMarker, 'click', function() {
            myInfoWindow.open(map, myMarker);
          });


      var nearByBuses = <%= raw @buses.to_json %>

      nearByBuses.forEach(function (bus) {
        var busLocation = new google.maps.LatLng(bus['LATITUDE'], bus['LONGITUDE']);

        var busMarker = new google.maps.Marker({
          position: busLocation,
          map: map,
          animation: google.maps.Animation.DROP,
          title: bus['VEHICLE']
        });

        var contentString = '<div id="content">' +
        '<h2>Bus ' + bus['VEHICLE'] + ' ' + bus['DIRECTION'] + '</h2>' + '<div id="bodyContent">' + '<p>Next Stop: ' + bus['TIMEPOINT'] + '</p>' + '</div>' + '</div>';

        var infoWindow = new google.maps.InfoWindow({
          content: contentString
        });

          google.maps.event.addListener(busMarker, 'click', function() {
            infoWindow.open(map, busMarker);
          });
       });
    }

     google.maps.event.addDomListener(window, 'load', initialize);
  </script>

